@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-slide {
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;

}

.slick-slide img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}

.slick-center {
    transform: scale(1.1);
}

html{
    scroll-behavior: smooth;
}

/* scrolbar */


#style-8::-webkit-scrollbar-track
{
	border: 1px solid #932BFb;
	background-color: #F5F5F5;
    border-radius: 5px;
    
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
   
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #932BFb;	
    border-radius: 5px;
}

